# Python Language Basics

## Language Sematics

### Indentation, not braces

Python uses whitespace (tab or spaces) to structure code instead of using braces.

In [1]:
for i in range(10):
    if (i%2 == 0):
        print(i)

0
2
4
6
8

A colon denotes the start of an indented code block after which all of the code must be indented by the same amount until the end of the block.

### Comment
Use # to add comments to the code

In [2]:
# This is a comment
a = 2
print(a)

2

In [3]:
print("Add comment after a line of code") # Comment after a line of code

Add comment after a line of code

### Variables and argument passing

When assigning a variable in Python, we are creating a reference to the object on the righthand side of the equals sign.

In [4]:
a = [1, 2, 3]

In [5]:
b = a

In Python, a and b now refer to the same object.

In [6]:
print(id(a))
print(id(b))

140350407671880
140350407671880

In [7]:
a.append(99)
print(b)

[1, 2, 3, 99]

### Dynamic references

Variables are names for objects within a particular namespaces; the type informationis stored in the object itself.

In [8]:
a = 5
type(5)

int

In [9]:
a = 'foo'
type(a)

str

Knowing the type of an object is important. We can check an object is an instance of a particular type using

In [10]:
a = 5
isinstance(a, int)

True

In [11]:
a = 10; b = 24.3
isinstance(b, (int, float))

True

### Attributes and methods

Objects in Python have both attributes and methods. Both of them are accessed via the syntax *obj.attribute_name*

In [12]:
a = 'Python is beautiful'

In [13]:
a

'Python is beautiful'

Attributes and methods can also be accesed by name via the *getattr* function

In [14]:
getattr(a, 'split')

In [15]:
getattr(a, 'split')()

['Python', 'is', 'beautiful']

### Imports

In python a module a a file with the *.py* extension containing Python code

In [16]:
!cat a_module.py

a = 2
b = 3

def add(a, b):
    return a + b

In [17]:
import a_module
a_module.a

2

In [18]:
a_module.add(1, 99)

100

In [19]:
import a_module as am
am.add(12, 23)

35

### Binary operators and comparisions

In [20]:
12 + 24.2 # add

36.2

In [21]:
12 - 25 # subtract

-13

In [22]:
12 * 2 # multiply

24

In [23]:
12 / 2 # divide

6.0

In [24]:
type(12 / 2)

float

In [25]:
5 // 2 # floor-divide

2

In [26]:
type(5 // 2)

int

In [27]:
12 ** 2 # power

144

In [28]:
2 < 2

False

In [29]:
2 <= 2

True

To check if two references refer to the same object, use the *is* keyword

In [30]:
a = [1, 2, 3]

In [31]:
b = a

In [32]:
c = list(a)

In [33]:
print(id(a))
print(id(b))
print(id(c))

140350441492360
140350441492360
140350406968840

In [34]:
a is b

True

In [35]:
a is not c

True

Comparing with *is* is not the same as the == operator. == compares values of the two objects, not the identity of them.

In [36]:
a == c

True

A common use of *is* is to check if a variable is *None*

In [37]:
a = None
a is None

True

## Scalar Types

- None
- str
- bytes
- float
- bool
- int

### Numeric types

In Python, there are two types for numbers, which are *int* and *float*. An *int* can store arbitrarily large numbers:

In [38]:
a = 45315445

In [39]:
a ** 12

74981649433879895951648049638654483252296560205888819553854241770834106702323239140869140625

Floating-point numbers are represented with the Python *float* type. They can also be expressed with scientific notation

In [40]:
float_value = 123.23
float_value

123.23

In [41]:
float_value2 = 123.23e-6
float_value2

0.00012323

Integer division not resulting in a whole number will always yield a floating-point number

In [42]:
12 / 5

2.4

Use the floor-division if we want to drop the fractional part if the result is not a whole number

In [43]:
12 // 5

2

### Strings

We can use either single quotes '' or double "" to specify a string

In [44]:
a = 'use single quote to write a string'
a

'use single quote to write a string'

In [45]:
b = "use double quote to write a string"
b

'use double quote to write a string'

For multiline string with line breaks, we can use """

In [46]:
c = """
This is a longer string that 
spans multiple lines
"""

In [47]:
c

'\nThis is a longer string that \nspans multiple lines\n'

In [48]:
c.count('\n')

3

Python strings are immutable object. That means we cannot modify a string

In [49]:
a = "I love Python"

In [50]:
a[0]

'I'

In [51]:
a[0] = 'h'

TypeError: 'str' object does not support item assignment

In [52]:
a.replace('I', 'You')

'You love Python'

In [53]:
a

'I love Python'

Object of other types can be converted to string using function *str*

In [54]:
a = 2.3

In [55]:
type(a)

float

In [56]:
b = str(a)
b

'2.3'

In [57]:
type(b)

str

We can access elements of string using index and slicing as

In [58]:
a = 'Python'

In [59]:
a[0]

'P'

In [60]:
a[-1]

'n'

In [61]:
a[:2]

'Py'

In [62]:
a[3:]

'hon'

In [63]:
a[1:6:2]

'yhn'

In [64]:
a[::-1]

'nohtyP'

Adding two strings together concatenates them and produces a new string

In [65]:
a = "I love"
b = "Python"

In [66]:
a + " " + b

'I love Python'

In [67]:
a = 2
b = 3.5

In [68]:
print(str(a) + " + " + str(b) + " = " + str(a+b))

2 + 3.5 = 5.5

String formatting

In [69]:
print('{0} + {1} = {2}'.format(a, b, a+b))

2 + 3.5 = 5.5

### Booleans

The two boolean values in Python are written as *True* and *False*. Boolean values are combined with the *and* and *or* keywords

In [70]:
True and True

True

In [71]:
False or True

True

### Type casting

In [72]:
s = '3.14159'

In [73]:
fval = float(s)

In [74]:
fval

3.14159

In [75]:
type(fval)

float

In [76]:
int(fval)

3

In [77]:
bool(fval)

True

In [78]:
bool(0)

False

## Control Flow

### if, elif, and else

In [79]:
a = 2
if a > 0:
    print('a is positive')

a is positive

In [80]:
a = 15
if a < 0:
    print('a is negative')
elif a == 0:
    print('equal to zero')
elif 0 < a < 5:
    print('positive but smaller than 5')
else:
    print('positive and larger than 5')

positive and larger than 5

### for loops

*for* loop are for iterating over a collection or an iterator.

In [81]:
for i in range(10):
    if i%2 == 0:
        print(i)

0
2
4
6
8

In [82]:
for i in "python":
    print(i)

p
y
t
h
o
n

We can advance a for loop to the next iteration using the *continue* keyword

In [83]:
for i in [1, 2, None, 3, None, 4, 5]:
    if i is None:
        continue
    else:
        print(i)

1
2
3
4
5

We can exits a for loop with the *break* keyword.

In [84]:
for i in [1,2,3,4,5]:
    print(i)
    if i == 4:
        break

1
2
3
4

### while loops

A while loop specifies a condition and a block of code that is to be executed until the condition evaluates to False or the loop is explicitly ended with break

In [85]:
x = 10
while x > 1:
    x = x / 2
    print(x)

5.0
2.5
1.25
0.625

In [86]:
x = 10
while True:
    x = x / 2
    print(x)
    if x < 1:
        break

5.0
2.5
1.25
0.625

### Tenary expression

A tenary expression in Python allows us to combine an if-else block that produces a value into a single line or expression.

In [87]:
a = -2
b = True if a > 0 else False

In [88]:
b

False

# Built-in Data Structures, Functions, and Files

## Data Structures and Sequences

### Tuple

A tuple is a fixed-length, immutable sequence of Python objects. To create a tuple, use comma to separate sequence of values

In [89]:
a_tuple = 1, 2, 3

In [90]:
a_tuple

(1, 2, 3)

In [91]:
nested_tuple = ((1, 2, 3), (4, 5))

In [92]:
nested_tuple

((1, 2, 3), (4, 5))

We can convert any sequence or iterator to a tuple by calling *tuple()*

In [93]:
a = tuple([1, 2, 3])

In [94]:
a

(1, 2, 3)

In [95]:
b = tuple('python')

In [96]:
b

('p', 'y', 't', 'h', 'o', 'n')

One can access elements of a tuple using square brackets as with other sequence types

In [97]:
b[0]

'p'

In [98]:
b[:]

('p', 'y', 't', 'h', 'o', 'n')

A tuple is an immutable object, thus, one cannot modify objects stored in each slot.

In [99]:
b[2] = 'x'

TypeError: 'tuple' object does not support item assignment

However, if an object inside a tuple is mutable, one can modify it in-place

In [100]:
c = ([1,2,3], 4, 'python')

In [101]:
c[1] = 2

TypeError: 'tuple' object does not support item assignment

In [102]:
c[0].append(99)

In [103]:
c

([1, 2, 3, 99], 4, 'python')

### Unpacking tuples

In [104]:
tup = (1, 2, 3)

In [105]:
a, b, c = tup

In [106]:
print(a)
print(b)
print(c)

1
2
3

Even sequences with nested tuples can be unpacked

In [107]:
tup = ((1, 2), 3, 'python')
(a, b), c, d = tup

In [108]:
print(a)
print(b)
print(c)
print(d)

1
2
3
python

The most popular use case of this feature is to swap variable names

In [109]:
a = 1
b = 2

In [110]:
print(a)
print(b)

1
2

In [111]:
a, b = b, a

In [112]:
print(a)
print(b)

2
1

## List

List are variable-length and their contents can be modified in-place.

In [113]:
a_list = [1, 3, 4]

In [114]:
a_list[-1] = 99

In [115]:
a_list

[1, 3, 99]

In [116]:
b_tup = ((1, 2), 3, 'python')
b_list = list(b_tup)

In [117]:
b_list

[(1, 2), 3, 'python']

### Adding and removing elements

Elements can be appended to the end of the list with the *append* method

In [118]:
b_list.append(99)

In [119]:
b_list

[(1, 2), 3, 'python', 99]

Using *insert* you can insert an element at a specific location in the list

In [120]:
b_list.insert(2, ('I', 'love'))

In [121]:
b_list

[(1, 2), 3, ('I', 'love'), 'python', 99]

The insertion index must be between 0 and the length of the list, inclusive.

The inverse operation to insert is *pop*, which removes and returns an element at a particular index

In [122]:
b_list.pop(0)

(1, 2)

In [123]:
b_list

[3, ('I', 'love'), 'python', 99]

Elements can be removed by value with *remove*, which locates the first such value and removes it.

In [124]:
b_list.append('python')

In [125]:
b_list.remove('python')
b_list

[3, ('I', 'love'), 99, 'python']

Use *in* keyword to check if a list contains a value

In [126]:
b_list

[3, ('I', 'love'), 99, 'python']

In [127]:
99 in b_list

True

In [128]:
'python' not in b_list

False

### Concatenating and combining lists

Similar to tuples, adding two lists together with + concatenates them

In [129]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

We can append multiple elements to a list using *extend* method

In [130]:
a = [1, 2, 3]
a.extend([4, 5, (6, 7)])

In [131]:
a

[1, 2, 3, 4, 5, (6, 7)]

In [132]:
a.append([4, 5, (6, 7)])

In [133]:
a

[1, 2, 3, 4, 5, (6, 7), [4, 5, (6, 7)]]

### Sorting

We can sort a list in-place by calling its sort function

In [134]:
a = [4, 2, 9, 1, 2, 8]

In [135]:
a.sort()

In [136]:
a

[1, 2, 2, 4, 8, 9]

*sort* has a few options that will occasionally come in handy. One is the ability to pass a secondary *sort* key - that is a function which produces a value to use to sort the object.

In [137]:
a = ['xxxx', 'x', 'xx', 'xxx']

In [138]:
a.sort(key=len)

In [139]:
a

['x', 'xx', 'xxx', 'xxxx']

### Slicing

In [140]:
seq = [2, 3, 1, 5, 3, 6, 9, 7, 8]

In [141]:
seq[1:5]

[3, 1, 5, 3]

In [142]:
seq[:3]

[2, 3, 1]

In [143]:
seq[-3:]

[9, 7, 8]

In [144]:
seq[::2]

[2, 1, 3, 9, 8]

In [145]:
seq[::-1]

[8, 7, 9, 6, 3, 5, 1, 3, 2]

## Built-in Sequence Functions

### enumerate

Use *enumerate* to iterate over a sequence and keep track of the index of the current item.

In [146]:
a = 'python'
for i, letter in enumerate(a):
    print(i, letter)

0 p
1 y
2 t
3 h
4 o
5 n

### reversed

*reversed* iterates over the elements of a sequence in reverse order

In [147]:
for item in reversed(a):
    print(item)

n
o
h
t
y
p

### zip

*zip* pairs up the elements of a number of lists, tuples, or other sequences to create a list of tuples

In [148]:
a = [1, 2, 3, 4]
b = ['x', 'y', 'z', 'w']

In [149]:
c = list(zip(a, b))

In [150]:
c

[(1, 'x'), (2, 'y'), (3, 'z'), (4, 'w')]

A very common use of *zip* is simultaneously iterating over multiple sequences

In [151]:
#Without using zip
for i in range(len(a)):
    print(a[i], b[i])

1 x
2 y
3 z
4 w

In [152]:
#Using zip
for x, y in zip(a, b):
    print(x, y)

1 x
2 y
3 z
4 w

In [153]:
full_name = [('quang', 'duong'), ('ha', 'nguyen'), ('binh', 'vo')]

In [154]:
first_name, last_name = zip(*full_name)

In [155]:
first_name

('quang', 'ha', 'binh')

In [156]:
last_name

('duong', 'nguyen', 'vo')

## dict

dict is flexibly sized collection of key-value parts, where key and value are Python objects. To create a dict use curly braces {} abd colons to separate keys and values

In [157]:
d1 = {'a': 1, 'b': [1, 2, 3], 'c': 'python'}

We can access, insert, or set elements using the same syntax as for accessing elements of a list or tuples

In [158]:
d1[3] = 4

In [159]:
d1

{'a': 1, 'b': [1, 2, 3], 'c': 'python', 3: 4}

In [160]:
d1['e'] = 'foo'

In [161]:
d1

{'a': 1, 'b': [1, 2, 3], 'c': 'python', 3: 4, 'e': 'foo'}

We can check if a dict contains a key using the same syntax used for checking a list or typle contains a value

In [162]:
'b' in d1

True

We can delete values either using the *del* keyword or the *pop* method

In [163]:
d1

{'a': 1, 'b': [1, 2, 3], 'c': 'python', 3: 4, 'e': 'foo'}

In [164]:
del d1['e']

In [165]:
d1.pop('c')

'python'

In [166]:
d1

{'a': 1, 'b': [1, 2, 3], 3: 4}

The *key* and *values* method give you iterators of the dict's keys and values, respectively.

In [167]:
d1.keys()

dict_keys(['a', 'b', 3])

In [168]:
d1.values()

dict_values([1, [1, 2, 3], 4])

We can merge one dict ot another using the *update* method

In [169]:
d1.update({'c': 'foo', 'd': (99, 24), 'a': 999})

In [170]:
d1

{'a': 999, 'b': [1, 2, 3], 3: 4, 'c': 'foo', 'd': (99, 24)}

### Creating dicts from sequences

In [171]:
keys = (0, 1, 2, 3, 4)
values = ('a', 'b', 'c', 'd', 'e')

In [172]:
mapping = {}
for key, value in zip(keys, values):
    mapping[key] = value

In [173]:
mapping

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [174]:
mapping_2 = dict(zip(keys, values))

In [175]:
mapping_2

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

### Default values

For examples, we want to count the occurrence of values in a list using the following code

In [176]:
a = [1, 2, 3, 3, 2, 1, 4, 3, 4]
count = {}
for item in a:
    if item not in count:
        count[item] = 1
    else:
        count[item] = count[item] + 1

The above code can be simplify using *get* method, which returns a default value if the key is not present

In [177]:
count_2 = {}
for item in a:
    count_2[item] = count_2.get(item, 0) + 1

In [178]:
count_2

{1: 2, 2: 2, 3: 3, 4: 2}

### Valid dict key type

The value of a dict can be any Python object, whie the keys generally have to be immutable objects like scalar types, or tuples. We can check whether an object is hashable (can be used as a key in a dict) with the hash function

In [179]:
hash('python')

-1234277572156586004

In [180]:
hash((1, 2, (3, 4)))

-2725224101759650258

In [181]:
hash([1,2,3])

TypeError: unhashable type: 'list'

## set

## List, Set, and Dict Comprehension

### Nested list comprehension

# Functions

## Namespaces, Scope, and Local Funtions

## Returning Multiple Values

## Functions Are Objects

## Lambda Functions

## Generators

## Errors and Exception Handling

# Files and the Operating System